<div class="bg">
<app-header></app-header>
<section class="admin-panel">
  <div class="container">
    <div class="columns admin-panel is-multiline is-gapless">
      <div class="column is-6">
        <app-add-question class="column is-12"></app-add-question>
        <app-edit-pub class="column is-12"></app-edit-pub>
      </div>
      <div class="column is-6">
        <app-edit-questions class="column is-12"></app-edit-questions>
        <app-add-pub class="column is-12"></app-add-pub>
        <app-add-question-package class="column is-12"></app-add-question-package>
      </div>
    </div>
  </div>
</section>
</div>
